body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}